body {
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navtext {
    color: white;
}

.current {
    color:#f96e22
}

a {
    text-decoration: none;
}

.cntr {
    align-items: center;
    position: absolute;
    margin: 0;
    padding:0;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}